.App {
  text-align: center;
  /* background-color: rgba(233, 195, 145, 0.751); */
  padding-bottom: 2rem;
  color: rgb(78, 42, 6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  background-color: rgb(78, 42, 6);
  color: bisque;
  height: 5rem;
  font-size: 3rem;
  text-align: center;
}
h4{
  background-color: rgb(78, 42, 6);
  color: bisque;
  height: 3rem;
  font-size: 1.5rem;
  padding: 2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img{
  width: 30vw;
  margin-top: 2rem;
  height: 80vh;
}

.book-c{
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.623);
  margin: 2rem;
  width: 50vw;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(255, 224, 187);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
